{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script type="text/javascript" src="{% static "todolist//js//scripts.js" %}"></script>
</head>
<body>
    <h1>Пользователь: {{ request.user }}</h1>

    <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="background: none; border: none; cursor:pointer; color: red;">Выйти</button>
    </form>
    <br>
    <br>

    <form method="post" action="{% url 'add' %}">
        {% csrf_token %}
        <div>
            {{ form.title }}
        </div>
        <br>
        <div>
            {{ form.description }}
        </div>
        <div>
            {{ form.status }}
        </div>
        <div>
            {{ form.date_postponed }}
        </div>
        <button type="submit">Добавить задачу</button>
    </form>

    <ul>
        {% for task in task_list %}
            <li>
                <div>
                    <p style="font-family: 'Courier New', Courier, monospace;">
                        {{ task.title }}
                    </p>
                    <p>
                        {{ task.description | linebreaksbr }}
                    </p>
                    <p>
                        Статус: {{ task.get_status_display }}
                    </p>
                    {% if task.status == 'postponed' %}
                        <p>Дата отсрочки: {{ task.date_postponed }}</p>
                    {% endif %}
                    <div style="display: flex; align-items: center;">
                        <form method="post" action="{% url 'delete' task.id %}">
                            {% csrf_token %}
                            <button type="submit">Удалить</button>
                        </form>
                    </div>
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>